.scroll {
    height: 282px;
    overflow: hidden;
    position: relative;
}

.list {
    width: 100%;
    height: 99%;
    overflow-y: scroll;
    position: absolute;
}
.list::-webkit-scrollbar {
    display: none;
}

.form {
    border: 1px solid #cccccc;
    background-color: #fff;
    min-width: 270px;
    height: 330px;
}

.title-holder {
    height:50px;
    padding-top: 10px;
    border-bottom: 2px solid #cccccc;
}

.title-list {
    padding-left: 20px;
    font-size: 22px;
    font-weight: bold;
}

.message-directive {
    border-bottom: 1px solid #cccccc;
    padding-left: 20px;
    height:70px;
    display: flex;
}

.message-body {
    margin-top: 13px;
}

.message-text {
    padding-top: 5px;
    padding-bottom: 5px;
}

.reply:before {
    content: '\f112';
    font: 14px fontawesome;
}

.settings:before {
    content: '\f085';
    font: 14px fontawesome;
}

.directive-image {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    margin-right: 10px;
    align-self: center;
}

.name-label {
    font-weight: bold;
    font-size: 14px;
}

.time-label {
    font-size: 14px;
    color: gray;
}

.new {
    background-color: #eeeeee;
}

.circle-blue {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 5px;
    background: #5384FF;
    color: #fff;
    text-align: center;
    font-size: 18px;
    float: right;
    margin-right: 20px;
}

.circle-red {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 5px;
    background: #F83C7B;
    color: #fff;
    text-align: center;
    font-size: 18px;
    float: right;
    margin-right: 5px;
}


.task-directive {
    border-bottom: 1px solid #cccccc;
    padding-left: 20px;
    height:70px;
    display: flex;
}

.time-state {
    margin-top: 10px;
    color: gray;
}

.time-state:before {
    content: '\f017';
    font: 14px fontawesome;
}

.failed {
    color: #F83C7B;
}

message-list {
    flex-grow: 1;
    margin-right: 20px;
}

task-list {
    flex-grow: 1;
    margin-right: 20px;
}

activity-list {
    flex-grow: 1;

}

.activity-directive {
    padding-left: 20px;
    height:70px;
    display: flex;

}

.who {
    font-weight: bold;
    font-size: 14px;
}

.action {
    color: gainsboro;;
    font-size: 13px;
}

.activity {
    width: 100%;
    height: 100%;
    display: flex;
    position:relative;

}

.directive-image-activity {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    z-index: 100;
    margin-right: 10px;
    align-self: center;
}

.one-part {
    flex-grow: 1;
    margin-right: 20px;
}

.two-part {
    flex-grow: 2;
}

.char-title {
    padding: 20px;
    display: flex;
    align-items: center;
}
.char-title::after {
    content: '';
    flex-grow: 1;
    order: 0;

}

.chart-title-label {
    font-weight: bold;
    color: grey;
    font-size: 28px;
}

.chart {
    background-color: #fff;
    height: 332px;
    border: 1px solid #cccccc;
    min-width: 350px;
}

.chart-image {
    width: 100%;
    height: 250px;
    padding: 20px;

}

.chart-content {
    width: 100%;
    align-self: center
}

.selector {
    border: none;
    outline:0px;
    background-color: #fff;
    font-size: 15px;
    color: black;
}

.selector-label {
    color: #cccccc;
    font-size: 14px;
}

option {
    font-size: 15px;
    color: black;
}

.selector-container {
    border-radius: 20px;
    border: 1px solid #cccccc;
    padding: 6px;
}